$color-001: #44318d;
$color-002: #5f2635;
$color-003: #1f9425;
$color-004: #b81b3c;
$color-005: #9f0ba4;

$color-001-l: #43318d1e;
$color-002-l: #5f263510;
$color-003-l: #1f942515;
$color-004-l: #b81b3d19;
$color-005-l: #9f0ba418;

$color-1: #d83f87;
$color-2: #2a1b3d;
$color-3: #44318d;
$color-4: #e98074;
$color-5: #a4b3b6;

$color-01: #652960;
$color-02: #b1115d;
$color-03: #ea1a33;
$color-04: #e09600;
$color-05: #77f007;

$color-0001: #0d931b;
$color-0002: #8bc101;
$color-0003: #f5ea09;
$color-0004: #ff758b;
$color-0005: #9881fe;

$color-txt-hov: #c2fcdb;
